<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Parvati Patch</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.805labs.parvati-patch</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Ambika Program</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.805labs.parvati-program</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Ambika Multi</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.805labs.parvati-multi</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Scala Scale</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.805labs.parvati-scala</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Scala Keyboard Mapping</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.805labs.parvati-kbm</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Parvati Patch</string>
			<key>UTTypeIdentifier</key>
			<string>com.805labs.parvati-patch</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>parvati</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Ambika Program</string>
			<key>UTTypeIdentifier</key>
			<string>com.805labs.parvati-program</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pro</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Ambika Multi</string>
			<key>UTTypeIdentifier</key>
			<string>com.805labs.parvati-multi</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mul</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Scala Scale</string>
			<key>UTTypeIdentifier</key>
			<string>com.805labs.parvati-scala</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>scl</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Scala Keyboard Mapping</string>
			<key>UTTypeIdentifier</key>
			<string>com.805labs.parvati-kbm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>kbm</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
